*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: cursive;
}
.logo{
    width: 50px;
    height: 50px;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    top: 0;
    position: fixed;
    background-color: white;
    color: black;
    width: 100%;
    height: 3.75rem;

}
.navbar{
    margin-left: 20px;
}
a{
    margin-left: 25px;
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font: 2rem;
}
a:hover{
    text-decoration: underline;
    color: peachpuff;
}
#check{
    display: none;
}
.icons{
    font-size: 1.5rem;
    color: black;
    font-weight: 600;
    position: absolute;
    right: 5%;
    display: none;
    cursor: pointer;
}
.searchBar{
    margin-right: 100px;
    margin-left: 35rem;
   
}
.topSearch{
    margin-left: 3rem;
    font-size: 25px;
}
.container{
    display: flex;
    flex-wrap: nowrap;
}
.items{
    width: 100%;
    /* height: 100vh; */
}
.img1{
    width: 100%;
    height: 90vh;
    /* height: 350px; */
}
/* about */
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 2;
    background-color: antiquewhite;
}
#h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: rgb(240, 146, 32);
}
p{
    text-align: center;
    margin-top: 15px;
}
.side1{
    margin-left: 60px;
}
.side2{
        width: 500px;
        height: 400px;
        margin-right: 50px;
        margin-top: 3rem;
    
}
.img2{
    width: 100%;
    height: 350px;
    border-radius: 20px;
}
.images{
    width: 800px;
    height: 400px;
    padding-left: 300px;
    /* display: flex;
    flex-wrap: wrap;
    padding: 0px 4px; */
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,2fr);
    align-items: center;
    gap: 4px;
    /* margin-left: -50px; */
    
    /* margin-bottom: 100px; */
}
.img3{
    width: 170px;
    
 }
 .img4{
     width: 200px;
     height: 150px;
     padding-right: 27px;
    
 }
 .img5{
     width: 200px;
     height: 300px;

 }
 .img6{
     width: 200px;
     height: 143px;
     
 }
 .img7{
     width: 250px;
     height: 303px;
     padding-left: 5px;
 }
 .img8{
     width: 245px;
     height: 145px;
     margin-left: 5px;
 
 }
 .col{
    margin-left: -20px;
 }
 .coll{
    margin-left: -10px;
 }
 .footer{
    background-color: gray;
    /* height: 50px; */
    width: 100%;
 }
#para{
    padding-top: 20px;
    margin-top: 40px;
}
@media (max-width:760px){
    .icons{
        display: flex;
    }
    #closeIcon{
        display: none;
    }
    #check:checked~.icons #menuIcon{
        display: none;
    }
    #check:checked~.icons #closeIcon{
        display: block;
    }
    #check:checked~.navbar{
        display: block;
    }
    .brans{
        margin-left: -50px;
    }
    .bans{
        margin-left: -50px;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0px;
        background-color: gainsboro;
        width: 100%;
        display: none;
    }
    .navbar a{
        display: block;
        text-align: center;
        font-size: 1rem;
        margin: 1rem 0px;
        font-weight: 600;
    }
    .container{
        flex-wrap: wrap;
    }
    .img1{
        height: 50vh;
    }
    .about{
        flex-wrap: wrap;
    }
    .img2{
        height: 200px;
        margin-left: -40px;
        border-radius: 0%;
    }
    .side1{
        margin-left: 10px;
    }
    .side2{
        margin-right: -40px;
    }
    .images{
        margin-left: -400px;
    }
    .col{
        margin-left: -25px;
    }
    .img3{
        width: 120px;
        height: 200px;
    }
    .img4{
        width: 150px ;
        height: 150px;
    }
    .img5{
        width: 120px;
        height: 200px;
    }
    .img6{
        width: 120px;
        height: 150px;
    }
    .img7{
        width: 145px;
        height: 150px;
    }
    .img8{
        width: 143px;
        height: 180px;
    }
    .coll{
        margin-left: -50px;
    }

    

}

